# Ignore other model files, but keep ours
!backend/model/phishing_lstm_model.h5
!backend/model/tokenizer.pickle


# Ignore tokenizers / encoders
*.pickle

# Ignore dataset files
*.csv
datasets/
*.zip

# Jupyter notebooks 
*.ipynb

# Python cache
__pycache__/
*.pyc

# Environment
venv/
.env

/frontend/node_modules
