# Ignore model files
*.h5
*.pkl

# Ignore tokenizers / encoders
*.json
*.pickle

# Ignore dataset files
*.csv
datasets/
*.zip

# Jupyter notebooks 
*.ipynb

# Python cache
__pycache__/
*.pyc

# Environment
venv/
.env

/frontend/node_modules
